* {
    font-family: 'Lato', sans-serif; 
  }
  .candetails-body {
    margin-left: 350px;
    margin-top: 150px;
  }
  .candetails-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .candetails-table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .candetails-table tr:hover {background-color: rgb(219, 219, 190);}
  .candetails-box {
    border: 2px;
    width: 900px;

  }
  .candetails-h1 {
    color: white;
    background-color: #00FFFF;
    text-align: center;
  }
  .register-input {
      padding-top: 12px;
      border: none;
      border-bottom: 2px solid red;
      width: 880px;
  }

  .form {
    width: fit-content;
    
    margin: 50px;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    overflow: auto;
  }
  .input-ac {
    margin: 0.5em;
    margin-left: 0;
    padding: 1em;
    display: block;
    width: 333px;
  }
  .label-ac {
    display: block;
    margin: 0.1em;
    padding: 0.5em;
  }
  .btn-add {
    width: 25%;
    padding: 1em;
    float: inline-end;
    margin: 1em;
    background-color: #00FFFF;
  }
  
  @media all and (max-width: 400px) {
    .input-ac,
    .btn-add {
      width: 100%;
    }
    .btn-add {
      float: inline-start;
    }
  }

  /*.btn-verification {
    padding: 11px;
    width: 100%;
    margin-top: 11px;
    margin-bottom: 11px;
    float: inline-end;
  }*/
  .register-body {
    margin-top: 30px;
    background: white;
    /*box-shadow: 5px 10px 8px 5px #888888;*/
    box-shadow:0 14px 28px rgba(0,0,0,0.25);
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    min-height: 900px;
    height: 100vh;
    margin-left: 370px;
    margin-right: 200px;
    position: relative;
    
  }
  .root {
    flex-Grow: 1;
  }
  .color
  {
    background-Color:'#ba68c8';
    color:'#fafafa';
  }
  .media {
    
    height: 150;
    width:200;
  }

  .control {
    padding: theme-spacing(2);
  }
  h2,
h3 {
  padding: 11px 1px;
  margin: auto;
  text-align: left;
}
small {
  color: grey;
  font-size: medium;
}
p {
  margin: 1px;
  padding: 3px;
}
.contact {
  color: grey;
}
.slogan {
  color: #ccab00;
  font-size: 1.5em;
  margin: 7px 0px;
}
.discription {
  padding: 11px;
  padding-left: 1px;
  text-align: justify;
  max-height: 111px;
  overflow: auto;
  line-height: 1.5em;
}

.candidate-info {
  transition: ease all 0.5s;
  width: 70%;
  float: left;
  margin-left: 1%;
  background-color: #e5e5e5;
  border-radius: 11px;
}
.vote-btn-container {
  transition: ease all 0.5s;
  float: right;
  margin-left: 1%;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.vote-bth {
  width: 100%;
  height: 55px;
  font-size: 157%;
}



th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tr:nth-child(even) {
    background-color: white;
  }
  .container-winner {
    background-color: #f5fffa;
    border-radius: 7px;
    min-width: 900px;
   }
  .winner-slogan {
    padding: 7px 7px 7px 1px;
    color: #ccab00;
    font-size: 1.5em;
    margin: 7px 0px;
    text-align: justify;
    
  }
  .winner-info {
   
    height: 250px;
    display: inline-block;
  }
  .winner-votes {
    
    height: 200px;
    display: inline-block;
  }
  .winner-tag {
    text-align: left;
    color: hotpink;
  }
  .votes-tag {
    text-align: left;
    color: darkgray;
  }
  .vote-count {
    padding:0px;
  }
  
  